@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('./glyphicons-halflings-regular.woff') format('woff');
}
.gi {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gi-asterisk:before {
  content: "\002a";
}
.gi-plus:before {
  content: "\002b";
}
.gi-euro:before,
.gi-eur:before {
  content: "\20ac";
}
.gi-minus:before {
  content: "\2212";
}
.gi-cloud:before {
  content: "\2601";
}
.gi-envelope:before {
  content: "\2709";
}
.gi-pencil:before {
  content: "\270f";
}
.gi-glass:before {
  content: "\e001";
}
.gi-music:before {
  content: "\e002";
}
.gi-search:before {
  content: "\e003";
}
.gi-heart:before {
  content: "\e005";
}
.gi-star:before {
  content: "\e006";
}
.gi-star-empty:before {
  content: "\e007";
}
.gi-user:before {
  content: "\e008";
}
.gi-film:before {
  content: "\e009";
}
.gi-th-large:before {
  content: "\e010";
}
.gi-th:before {
  content: "\e011";
}
.gi-th-list:before {
  content: "\e012";
}
.gi-ok:before {
  content: "\e013";
}
.gi-remove:before {
  content: "\e014";
}
.gi-zoom-in:before {
  content: "\e015";
}
.gi-zoom-out:before {
  content: "\e016";
}
.gi-off:before {
  content: "\e017";
}
.gi-signal:before {
  content: "\e018";
}
.gi-cog:before {
  content: "\e019";
}
.gi-trash:before {
  content: "\e020";
}
.gi-home:before {
  content: "\e021";
}
.gi-file:before {
  content: "\e022";
}
.gi-time:before {
  content: "\e023";
}
.gi-road:before {
  content: "\e024";
}
.gi-download-alt:before {
  content: "\e025";
}
.gi-download:before {
  content: "\e026";
}
.gi-upload:before {
  content: "\e027";
}
.gi-inbox:before {
  content: "\e028";
}
.gi-play-circle:before {
  content: "\e029";
}
.gi-repeat:before {
  content: "\e030";
}
.gi-refresh:before {
  content: "\e031";
}
.gi-list-alt:before {
  content: "\e032";
}
.gi-lock:before {
  content: "\e033";
}
.gi-flag:before {
  content: "\e034";
}
.gi-headphones:before {
  content: "\e035";
}
.gi-volume-off:before {
  content: "\e036";
}
.gi-volume-down:before {
  content: "\e037";
}
.gi-volume-up:before {
  content: "\e038";
}
.gi-qrcode:before {
  content: "\e039";
}
.gi-barcode:before {
  content: "\e040";
}
.gi-tag:before {
  content: "\e041";
}
.gi-tags:before {
  content: "\e042";
}
.gi-book:before {
  content: "\e043";
}
.gi-bookmark:before {
  content: "\e044";
}
.gi-print:before {
  content: "\e045";
}
.gi-camera:before {
  content: "\e046";
}
.gi-font:before {
  content: "\e047";
}
.gi-bold:before {
  content: "\e048";
}
.gi-italic:before {
  content: "\e049";
}
.gi-text-height:before {
  content: "\e050";
}
.gi-text-width:before {
  content: "\e051";
}
.gi-align-left:before {
  content: "\e052";
}
.gi-align-center:before {
  content: "\e053";
}
.gi-align-right:before {
  content: "\e054";
}
.gi-align-justify:before {
  content: "\e055";
}
.gi-list:before {
  content: "\e056";
}
.gi-indent-left:before {
  content: "\e057";
}
.gi-indent-right:before {
  content: "\e058";
}
.gi-facetime-video:before {
  content: "\e059";
}
.gi-picture:before {
  content: "\e060";
}
.gi-map-marker:before {
  content: "\e062";
}
.gi-adjust:before {
  content: "\e063";
}
.gi-tint:before {
  content: "\e064";
}
.gi-edit:before {
  content: "\e065";
}
.gi-share:before {
  content: "\e066";
}
.gi-check:before {
  content: "\e067";
}
.gi-move:before {
  content: "\e068";
}
.gi-step-backward:before {
  content: "\e069";
}
.gi-fast-backward:before {
  content: "\e070";
}
.gi-backward:before {
  content: "\e071";
}
.gi-play:before {
  content: "\e072";
}
.gi-pause:before {
  content: "\e073";
}
.gi-stop:before {
  content: "\e074";
}
.gi-forward:before {
  content: "\e075";
}
.gi-fast-forward:before {
  content: "\e076";
}
.gi-step-forward:before {
  content: "\e077";
}
.gi-eject:before {
  content: "\e078";
}
.gi-chevron-left:before {
  content: "\e079";
}
.gi-chevron-right:before {
  content: "\e080";
}
.gi-plus-sign:before {
  content: "\e081";
}
.gi-minus-sign:before {
  content: "\e082";
}
.gi-remove-sign:before {
  content: "\e083";
}
.gi-ok-sign:before {
  content: "\e084";
}
.gi-question-sign:before {
  content: "\e085";
}
.gi-info-sign:before {
  content: "\e086";
}
.gi-screenshot:before {
  content: "\e087";
}
.gi-remove-circle:before {
  content: "\e088";
}
.gi-ok-circle:before {
  content: "\e089";
}
.gi-ban-circle:before {
  content: "\e090";
}
.gi-arrow-left:before {
  content: "\e091";
}
.gi-arrow-right:before {
  content: "\e092";
}
.gi-arrow-up:before {
  content: "\e093";
}
.gi-arrow-down:before {
  content: "\e094";
}
.gi-share-alt:before {
  content: "\e095";
}
.gi-resize-full:before {
  content: "\e096";
}
.gi-resize-small:before {
  content: "\e097";
}
.gi-exclamation-sign:before {
  content: "\e101";
}
.gi-gift:before {
  content: "\e102";
}
.gi-leaf:before {
  content: "\e103";
}
.gi-fire:before {
  content: "\e104";
}
.gi-eye-open:before {
  content: "\e105";
}
.gi-eye-close:before {
  content: "\e106";
}
.gi-warning-sign:before {
  content: "\e107";
}
.gi-plane:before {
  content: "\e108";
}
.gi-calendar:before {
  content: "\e109";
}
.gi-random:before {
  content: "\e110";
}
.gi-comment:before {
  content: "\e111";
}
.gi-magnet:before {
  content: "\e112";
}
.gi-chevron-up:before {
  content: "\e113";
}
.gi-chevron-down:before {
  content: "\e114";
}
.gi-retweet:before {
  content: "\e115";
}
.gi-shopping-cart:before {
  content: "\e116";
}
.gi-folder-close:before {
  content: "\e117";
}
.gi-folder-open:before {
  content: "\e118";
}
.gi-resize-vertical:before {
  content: "\e119";
}
.gi-resize-horizontal:before {
  content: "\e120";
}
.gi-hdd:before {
  content: "\e121";
}
.gi-bullhorn:before {
  content: "\e122";
}
.gi-bell:before {
  content: "\e123";
}
.gi-certificate:before {
  content: "\e124";
}
.gi-thumbs-up:before {
  content: "\e125";
}
.gi-thumbs-down:before {
  content: "\e126";
}
.gi-hand-right:before {
  content: "\e127";
}
.gi-hand-left:before {
  content: "\e128";
}
.gi-hand-up:before {
  content: "\e129";
}
.gi-hand-down:before {
  content: "\e130";
}
.gi-circle-arrow-right:before {
  content: "\e131";
}
.gi-circle-arrow-left:before {
  content: "\e132";
}
.gi-circle-arrow-up:before {
  content: "\e133";
}
.gi-circle-arrow-down:before {
  content: "\e134";
}
.gi-globe:before {
  content: "\e135";
}
.gi-wrench:before {
  content: "\e136";
}
.gi-tasks:before {
  content: "\e137";
}
.gi-filter:before {
  content: "\e138";
}
.gi-briefcase:before {
  content: "\e139";
}
.gi-fullscreen:before {
  content: "\e140";
}
.gi-dashboard:before {
  content: "\e141";
}
.gi-paperclip:before {
  content: "\e142";
}
.gi-heart-empty:before {
  content: "\e143";
}
.gi-link:before {
  content: "\e144";
}
.gi-phone:before {
  content: "\e145";
}
.gi-pushpin:before {
  content: "\e146";
}
.gi-usd:before {
  content: "\e148";
}
.gi-gbp:before {
  content: "\e149";
}
.gi-sort:before {
  content: "\e150";
}
.gi-sort-by-alphabet:before {
  content: "\e151";
}
.gi-sort-by-alphabet-alt:before {
  content: "\e152";
}
.gi-sort-by-order:before {
  content: "\e153";
}
.gi-sort-by-order-alt:before {
  content: "\e154";
}
.gi-sort-by-attributes:before {
  content: "\e155";
}
.gi-sort-by-attributes-alt:before {
  content: "\e156";
}
.gi-unchecked:before {
  content: "\e157";
}
.gi-expand:before {
  content: "\e158";
}
.gi-collapse-down:before {
  content: "\e159";
}
.gi-collapse-up:before {
  content: "\e160";
}
.gi-log-in:before {
  content: "\e161";
}
.gi-flash:before {
  content: "\e162";
}
.gi-log-out:before {
  content: "\e163";
}
.gi-new-window:before {
  content: "\e164";
}
.gi-record:before {
  content: "\e165";
}
.gi-save:before {
  content: "\e166";
}
.gi-open:before {
  content: "\e167";
}
.gi-saved:before {
  content: "\e168";
}
.gi-import:before {
  content: "\e169";
}
.gi-export:before {
  content: "\e170";
}
.gi-send:before {
  content: "\e171";
}
.gi-floppy-disk:before {
  content: "\e172";
}
.gi-floppy-saved:before {
  content: "\e173";
}
.gi-floppy-remove:before {
  content: "\e174";
}
.gi-floppy-save:before {
  content: "\e175";
}
.gi-floppy-open:before {
  content: "\e176";
}
.gi-credit-card:before {
  content: "\e177";
}
.gi-transfer:before {
  content: "\e178";
}
.gi-cutlery:before {
  content: "\e179";
}
.gi-header:before {
  content: "\e180";
}
.gi-compressed:before {
  content: "\e181";
}
.gi-earphone:before {
  content: "\e182";
}
.gi-phone-alt:before {
  content: "\e183";
}
.gi-tower:before {
  content: "\e184";
}
.gi-stats:before {
  content: "\e185";
}
.gi-sd-video:before {
  content: "\e186";
}
.gi-hd-video:before {
  content: "\e187";
}
.gi-subtitles:before {
  content: "\e188";
}
.gi-sound-stereo:before {
  content: "\e189";
}
.gi-sound-dolby:before {
  content: "\e190";
}
.gi-sound-5-1:before {
  content: "\e191";
}
.gi-sound-6-1:before {
  content: "\e192";
}
.gi-sound-7-1:before {
  content: "\e193";
}
.gi-copyright-mark:before {
  content: "\e194";
}
.gi-registration-mark:before {
  content: "\e195";
}
.gi-cloud-download:before {
  content: "\e197";
}
.gi-cloud-upload:before {
  content: "\e198";
}
.gi-tree-conifer:before {
  content: "\e199";
}
.gi-tree-deciduous:before {
  content: "\e200";
}
.gi-cd:before {
  content: "\e201";
}
.gi-save-file:before {
  content: "\e202";
}
.gi-open-file:before {
  content: "\e203";
}
.gi-level-up:before {
  content: "\e204";
}
.gi-copy:before {
  content: "\e205";
}
.gi-paste:before {
  content: "\e206";
}
.gi-alert:before {
  content: "\e209";
}
.gi-equalizer:before {
  content: "\e210";
}
.gi-king:before {
  content: "\e211";
}
.gi-queen:before {
  content: "\e212";
}
.gi-pawn:before {
  content: "\e213";
}
.gi-bishop:before {
  content: "\e214";
}
.gi-knight:before {
  content: "\e215";
}
.gi-baby-formula:before {
  content: "\e216";
}
.gi-tent:before {
  content: "\26fa";
}
.gi-blackboard:before {
  content: "\e218";
}
.gi-bed:before {
  content: "\e219";
}
.gi-apple:before {
  content: "\f8ff";
}
.gi-erase:before {
  content: "\e221";
}
.gi-hourglass:before {
  content: "\231b";
}
.gi-lamp:before {
  content: "\e223";
}
.gi-duplicate:before {
  content: "\e224";
}
.gi-piggy-bank:before {
  content: "\e225";
}
.gi-scissors:before {
  content: "\e226";
}
.gi-bitcoin:before {
  content: "\e227";
}
.gi-btc:before {
  content: "\e227";
}
.gi-xbt:before {
  content: "\e227";
}
.gi-yen:before {
  content: "\00a5";
}
.gi-jpy:before {
  content: "\00a5";
}
.gi-ruble:before {
  content: "\20bd";
}
.gi-rub:before {
  content: "\20bd";
}
.gi-scale:before {
  content: "\e230";
}
.gi-ice-lolly:before {
  content: "\e231";
}
.gi-ice-lolly-tasted:before {
  content: "\e232";
}
.gi-education:before {
  content: "\e233";
}
.gi-option-horizontal:before {
  content: "\e234";
}
.gi-option-vertical:before {
  content: "\e235";
}
.gi-menu-hamburger:before {
  content: "\e236";
}
.gi-modal-window:before {
  content: "\e237";
}
.gi-oil:before {
  content: "\e238";
}
.gi-grain:before {
  content: "\e239";
}
.gi-sunglasses:before {
  content: "\e240";
}
.gi-text-size:before {
  content: "\e241";
}
.gi-text-color:before {
  content: "\e242";
}
.gi-text-background:before {
  content: "\e243";
}
.gi-object-align-top:before {
  content: "\e244";
}
.gi-object-align-bottom:before {
  content: "\e245";
}
.gi-object-align-horizontal:before {
  content: "\e246";
}
.gi-object-align-left:before {
  content: "\e247";
}
.gi-object-align-vertical:before {
  content: "\e248";
}
.gi-object-align-right:before {
  content: "\e249";
}
.gi-triangle-right:before {
  content: "\e250";
}
.gi-triangle-left:before {
  content: "\e251";
}
.gi-triangle-bottom:before {
  content: "\e252";
}
.gi-triangle-top:before {
  content: "\e253";
}
.gi-console:before {
  content: "\e254";
}
.gi-superscript:before {
  content: "\e255";
}
.gi-subscript:before {
  content: "\e256";
}
.gi-menu-left:before {
  content: "\e257";
}
.gi-menu-right:before {
  content: "\e258";
}
.gi-menu-down:before {
  content: "\e259";
}
.gi-menu-up:before {
  content: "\e260";
}
